language: python
python: 3.5
env:
  - TOXENV=flake8
  - TOXENV=py27-django18
  - TOXENV=py33-django18
  - TOXENV=py34-django18
  - TOXENV=py35-django18
  - TOXENV=py27-django19
  - TOXENV=py34-django19
  - TOXENV=py35-django19
install:
  - pip install tox
script: tox
